body{
    margin: 0;
    background-color: #f1faee;
}

.register{
    padding: 20px;
    border-radius: 10px;
}

.img{
    border-radius: 10px;
    box-shadow: 0 0 30px #ced4da;
}

.form-outline{
    margin-top:30px !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

